
<%- include("partials/header.ejs") %>

<body>
    <div class="content-title">
    <h1>Book Club</h1>
    <h2>All bookworms welcome!</h2>
    </div>

    <div class="content-card">
    <h3 class="book-title">Book of the month: </h3>
    <img src="images/book.jpg" alt="book" ></img>
    
    <section id="all-posts"></section>

        <h3>All Reviews</h3>

         <% if (locals.bookReview) { %>
            <% for (let i = 0; i < bookReview.length; i++) { %>
                <p><%= bookReviewTime[i] %></p>
                
                <% if (locals.updatedBookReview && originalBookReview == bookReview[i]) { %>
                    
                    <p><%= updatedBookReview %></p>
                    
                    <% } else { %>

                    <p><%= bookReview[i] %></p>
                
                    <% } %>
                    
                <%# update button %>
                <form action="/update" method="POST">
                    <input type="hidden" name="postIndex" value="<%= i %>">
                    <input type="submit" value="Update">
                </form>
                
                <%# delete button %>
                <form action="/delete" method="POST">
                    <input type="hidden" name="postIndex" value="<%= i %>">
                    <input type="submit" value="Delete">
                </form>

                <br>

            <% } %>
        <% } %>

        <%= new Date("2025-11-07").toDateString() %>
        <p>Review 1</p>
        <%= new Date("2025-11-05").toDateString() %>
        <p>Review 2</p>
        <%= new Date("2025-11-04").toDateString() %>
        <p>Review 3</p>

    </section>

    <section id="new-post">
        <h3>Add Book Review</h3>

        <form action="/create" method="POST">
            <p><label for="bookreview">What did you like about the book the most/the least? Would you recommend it to your friends?</label></p>
            <textarea id="book-review" name="bookReview" rows="4" cols="50"></textarea>
            <br>
            <p>(Max. num of characters: 2000)</p>
            <input type="submit" value="Add Review">
        </form>
        
    </section>

    </div>
       
    
<%- include("partials/footer.ejs") %>