
<%- include("partials/header.ejs") %>

    <div class="content-card">

        <div class="bookOfTheMonth-container">
            <div class="column one">

                <h3 class="h3-title">Book of the Month</h3>
                <p>Title (EN): <%= bookOfTheMonth.title %></p>
                <p>Author: <%= bookOfTheMonth.author %></p>
                <p>First published: <%= bookOfTheMonth.published %></p>
                <p>Genre: <%= bookOfTheMonth.genre %></p>
                <p>Goodreads rating: 4.1 <img src="images/gold-star.svg" alt="star" class="star">
                    out of 5 <img src="images/gold-star.svg" alt="star" class="star">
                    (<a href="https://www.goodreads.com/book/show/6642715-the-forty-rules-of-love" target="_blank">link</a>)</p>
                <p>Description:
                    <br>
                    <%= bookOfTheMonth.description %>
                </p>
            </div>

            <div class="column two">
                <img src="images/book.jpg" alt="book" >
            </div>
        </div>

    <section id="all-posts"></section>

        <h3>All Reviews</h3>
        <p class="reviewDate"><%= new Date("2025-11-07").toDateString() %></p>
        <p class="bookReview"><%= reviews.review1 %></p>
        <p class="reviewDate"><%= new Date("2025-11-05").toDateString() %></p>
        <p class="bookReview"><%= reviews.review2 %></p>
        <p class="reviewDate"><%= new Date("2025-11-04").toDateString() %></p>
        <p class="bookReview"><%= reviews.review3 %></p>

        <h3 class="myReviews-title">My Reviews</h3>

         <% if (bookReview.length > 0) { %>
            <% for (let i = 0; i < bookReview.length; i++) { %>
                <p class="reviewDate"><%= bookReviewTime[i] %></p>
                
                <% if (locals.updatedBookReview && originalBookReview == bookReview[i]) { %>
                    
                    <p class="bookReview"><%= updatedBookReview %></p>
                    
                    <% } else { %>

                    <p class="bookReview"><%= bookReview[i] %></p>
                
                    <% } %>

                
                <div class="button-container">
                    
                    <%# update button %>
                    <form action="/update" method="POST">
                        <input type="hidden" name="postIndex" value="<%= i %>">
                        <input class="submitBtn" type="submit" value="Update">
                    </form>
                    
                    <%# delete button %>
                    <form action="/delete" method="POST">
                        <input type="hidden" name="postIndex" value="<%= i %>">
                        <input class="submitBtn" type="submit" value="Delete">
                    </form>
                </div>

            <% } %>
        <% } else { %>
                <p>No reviews yet.</p>
        <% } %>

    </section>

    <section id="new-post">
        <h3>Add Book Review</h3>

        <form action="/create" method="POST">
            <p><label for="bookreview">What did you like about the book the most/the least? Would you recommend it to your friends?</label></p>
            <textarea id="book-review" name="bookReview" rows="4" cols="100" required></textarea>
            <p class="maxNumText">(Max. num of characters: 2000)</p>
            <input class="submitBtn" type="submit" value="Add Review">
        </form>
        
    </section>

    </div>
       
    
<%- include("partials/footer.ejs") %>